


body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

#div-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
    width: 1830px;
    height: 300px;
}

#div-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
    width: 1830px;
    height: 500px;
}

#div-bottom {
    /* background: lightgrey; */
    width: 1830px;
    height: 40px;
}

#crypto-h {
    padding-left: 40px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */

}

#crypto-h > span {
    margin-left: 5px;
}



#author-h {
    margin-left: 40px;
    margin-top: 80px;
}


#weather-div {
    padding-bottom: 150px;
    margin-right: 40px;
    /* border: 3px dotted red; */
    display: flex;
    flex-direction: column;
    align-items: end;
}


#weather-h {
    /* padding-right: 40px;
    margin-bottom: 150px; */
    display: flex;
    align-items: center;
}



